<!doctype html>
<html>
  <head>
  <title>Chessbond</title>
     <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <!--STYLES-->
      <link rel="stylesheet" href="/styles/angular-toastr.css">
      <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
      <link rel="stylesheet" href="/styles/css/chessboard-0.3.0.min.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
          <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>'
      <% if (loggedin==true){ %>
		  ,
      me: <%- JSON.stringify(me) %>
		<% } %>
    };
  
    </script>
    <script type="text/javascript">
  
      var announced_game_over;
    </script>
     
       <!--SCRIPTS-->
       <script src="/js/dependencies/sails.io.js"></script>
       <script src="/js/dependencies/angular.1.3.js"></script>
       <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
       <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
       <script src="/js/dependencies/chess.min.js"></script>
       <script src="/js/dependencies/angular-chess.js"></script>
       <script src="/js/dependencies/angular-chessboard.js"></script>
       <script src="/js/dependencies/angular-toastr.js"></script>
       <script src="/js/dependencies/bootstrap.min.js"></script>
       <script src="/js/dependencies/compareTo.module.js"></script>
       <script src="/js/dependencies/enginegame-module.js"></script>
       <script src="/js/dependencies/enginegame.js"></script>
       <script src="/js/dependencies/stockfish.js"></script>
       <script src="/js/dependencies/toastr.js"></script>
       <script src="/js/public/signup/SignupModule.js"></script>
       <script src="/js/private/dashboard/DashboardModule.js"></script>
       <script src="/js/public/homepage/HomepageModule.js"></script>
       <script src="/js/public/homepage/SinglePlayerModule.js"></script>
       <script src="/js/private/dashboard/DashboardController.js"></script>
       <script src="/js/public/homepage/HomepageController.js"></script>
       <script src="/js/public/homepage/SinglePlayerController.js"></script>
       <script src="/js/public/signup/SignupController.js"></script>
       <!--SCRIPTS END-->
    
   
  </head>
  <body ng-app="HomepageModule" >
  <%- include partials/navbar.ejs %>
  <div ng-controller="SinglePlayerController">
  
  	<form id="levelform" ng-submit="ChooseLevel()" ng-show="showlevelpicker"">
	<h2>Choose a difficulty level:</h2>
	<select ng-model="levelform.level" id="levelpicker" class="form-control bg-success" data-style="btn-success">
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	  <option>6</option>
	  <option>7</option>
	  <option>8</option>
	  <option>9</option>
	  <option>10</option>
	  <option>11</option>
	  <option>12</option>
	  <option>13</option>
	  <option>14</option>
	  <option>15</option>
	  <option>16</option>
	  <option>17</option>
	  <option>18</option>
	  <option>19</option>
	  <option>20</option>
	</select>
	<button id="go button" type="submit" class="btn btn-success">Go</button>
	</form>
  <div class="row" id="whole thing">
      <div class="col-sm-7 col-md-6">
        <span class="h3" id="time1">0:05:00</span>
        <div id="board" style="width: 400px"></div>
        <span class="h3" id="time2">0:05:00</span>
        <hr>
        <div id="engineStatus">...</div>
      </div>
      </div>
      </div>
     
	  <!--<div class="row" ng-show="showboard" id="whole thing">
	  
		<div class="col-sm-7 col-md-6">
		<nywton-chessgame 
		data-game="game" 
		data-board="board"></nywton-chessgame>
		</div>
		<div class="col-sm-7 col-md-6">
		<form ng-submit="Clearboard()">
		<button type="submit" class="btn btn-success">
		Clear
		</button>
		</form>
		</div>
		
		</div>
  </div>-->
  
  </body>
</html>
